<!-- Main Content -->

<div class="row">
  <div class="col-lg-12 information">
    <label><i class="fa fa-info" aria-hidden="true"></i>&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Maecenas nec nunc id nisi elementum bibendum sit amet vitae elit.</label>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-6">
  <div class="col-xs-4">
    <div class="btn_containerCP">
            <a href="http://www.google.com/">
            <div class="btn_icon"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="btn_word">
                <label>Campaign </label>
                <h3 class="btn_title">Performance</h3>
                </div>
             </a>
        </div>
  </div>
  <div class="col-xs-4">
    <div class="btn_containerCP">
            <a href="http://www.google.com/">
            <div class="btn_icon"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="btn_word">
                <label>Briefing </label>
                <h3 class="btn_title">Report</h3>
                </div>
             </a>
        </div>
  </div>
  <div class="col-xs-4">
    <div class="btn_containerCP">
            <a href="http://www.google.com/">
            <div class="btn_icon"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="btn_word">
                <label>Model Control </label>
                <h3 class="btn_title">Panel</h3>
                </div>
             </a>
        </div>
  </div>
  </div>
</div> -->

<div class="row" style="padding-left: 15px; padding-right: 15px;">
  <div class="col-md-2">
    <div class="FilterSection">
      <div class="filter_heading remove_paddingBottom "><label>Filter</label></div>
      <hr class="remove_margin">
      <div class="panel-body">
        <label id="subTitle_section">Chosen Filters</label>

        <div name="filter-choices">

          <div>
							<div class="dropdown" uib-dropdown dropdown-append-to-body>
							  <button id="btn-append-to-body" class="filter_btn" type="button" uib-dropdown-toggle>
							    Day
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
									<span ng-repeat="(key, data) in $ctrl.filters">
									<li role="menuitem" ng-repeat="days in data.days" ><a href="#">{{days}}</a></li>
									</span>
								</ul>
							</div>
          </div>

          <div>
							<div class="dropdown" uib-dropdown dropdown-append-to-body>
							  <button id="btn-append-to-body" class="filter_btn" type="button" uib-dropdown-toggle>
							    Month
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
									<span ng-repeat="(key, data) in $ctrl.filters">
									<li role="menuitem" ng-repeat="month in data.months" ><a href="#">{{month}}</a></li>
									</span>
								</ul>
							</div>
          </div>

          <div>
							<div class="dropdown" uib-dropdown dropdown-append-to-body>
							  <button id="btn-append-to-body" class="filter_btn" type="button" uib-dropdown-toggle>
							    Year
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <span ng-repeat="(key, data) in $ctrl.filters">
                    <li role="menuitem" ng-repeat="year in data.years"><a href="#">{{year}}</a></li>
                    </span>
              </ul>
							</div>
          </div>

          <div>
							<div class="dropdown" uib-dropdown dropdown-append-to-body>
							  <button id="btn-append-to-body" class="filter_btn" type="button" uib-dropdown-toggle>
							    Quarter
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <span ng-repeat="(key, data) in $ctrl.filters">
                    <li role="menuitem" ng-repeat="quarter in data.quarters"><a href="#">{{quarter}}</a></li>
                    </span>
              </ul>
							</div>
          </div>

          <div>
							<div class="dropdown" uib-dropdown dropdown-append-to-body>
							  <button id="btn-append-to-body" class="filter_btn" type="button" uib-dropdown-toggle>
							    Region
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <span ng-repeat="(key, data) in $ctrl.filters">
                    <li role="menuitem" ng-repeat="region in data.regions"><a href="#">{{region}}</a></li>
                    </span>
              </ul>
							</div>
          </div>

        </div>

        <div name="campaign-attributes" style="margin-bottom: 40px;">
          <br/>
          <label id="subTitle_section">Campaign Attributes</label>

          <div class="checkbox">
            <label><input type="checkbox" value="">Creative</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Mobile</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Laptop</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Time of Day</label>
          </div>
        </div>

        <div name="row">
          <button class=" primaryBtn" style="margin-bottom: 10px;"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download
          </button>
          <br/>
          <button class=" primaryBtn"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</button>
        </div>
      </div>
    </div>
  </div>

				<div class="col-md-7  ">
    <div class="FilterSection">
      <div class="filter_heading remove_paddingBottom">Campaign Performance</div>
      <hr class="remove_margin">
					<div class="panel-body remove_paddingLeft remove_paddingRight">
        <div name="table" class="row">
          <rd-widget>
            <rd-widget-body classes="medium no-padding">
									<div class="table-responsive CP_TblMid">
										<table class="table table-striped">
                  <tbody>
                  <thead>
                  <tr>
                    <td>Media</td>
                    <td>Campaign</td>
                    <td>Conversion Performance</td>
                    <td>Conversion Rate</td>
                    <td>View Rate</td>
                    <td>CTR</td>
                    <td>Impressions</td>
                  </tr>
                  </thead>
											<tr ng-repeat="row in $ctrl.tblCampaignPerformance">
												<td>{{ row.media }}</td>
												<td>{{ row.campaign }}</td>
												<td>{{ row.conversion_performance }}</td>
												<td>{{ row.conversion_rate }}</td>
												<td>{{ row.view_rate }}</td>
												<td>{{ row.ctr }}</td>
												<td>{{ row.impression }}</td>
											</tr>

											<tr ng-repeat="row in $ctrl.tblCampaignPerformance">
												<td>{{ row.media }}</td>
												<td>{{ row.campaign }}</td>
												<td>{{ row.conversion_performance }}</td>
												<td>{{ row.conversion_rate }}</td>
												<td>{{ row.view_rate }}</td>
												<td>{{ row.ctr }}</td>
												<td>{{ row.impression }}</td>
											</tr>

											<tr ng-repeat="row in $ctrl.tblCampaignPerformance">
												<td>{{ row.media }}</td>
												<td>{{ row.campaign }}</td>
												<td>{{ row.conversion_performance }}</td>
												<td>{{ row.conversion_rate }}</td>
												<td>{{ row.view_rate }}</td>
												<td>{{ row.ctr }}</td>
												<td>{{ row.impression }}</td>
											</tr>

											<tr ng-repeat="row in $ctrl.tblCampaignPerformance">
												<td>{{ row.media }}</td>
												<td>{{ row.campaign }}</td>
												<td>{{ row.conversion_performance }}</td>
												<td>{{ row.conversion_rate }}</td>
												<td>{{ row.view_rate }}</td>
												<td>{{ row.ctr }}</td>
												<td>{{ row.impression }}</td>
											</tr>

											<tr ng-repeat="row in $ctrl.tblCampaignPerformance">
												<td>{{ row.media }}</td>
												<td>{{ row.campaign }}</td>
												<td>{{ row.conversion_performance }}</td>
												<td>{{ row.conversion_rate }}</td>
												<td>{{ row.view_rate }}</td>
												<td>{{ row.ctr }}</td>
												<td>{{ row.impression }}</td>
											</tr>

                  <tr ng-repeat="row in $ctrl.tblCampaignPerformance">
                    <td>{{ row.media }}</td>
                    <td>{{ row.campaign }}</td>
                    <td>{{ row.conversion_performance }}</td>
                    <td>{{ row.conversion_rate }}</td>
                    <td>{{ row.view_rate }}</td>
                    <td>{{ row.ctr }}</td>
                    <td>{{ row.impression }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </rd-widget-body>
          </rd-widget>
        </div>

        <div class="col-md-6">
          <div class="panel-heading">Conversion Rate</div>
          <div class="panel-body"> GRAPH</div>
        </div>
        <div class="col-md-6">
          <div class="panel-heading">Campaign Performance</div>
          <div class="panel-body"> PIE CHART</div>
        </div>
      </div>
    </div>
  </div>

			<div class="col-md-3  " >
    <div class="FilterSection">
      <div class="filter_heading remove_paddingBottom">Ad Video Campaign Placement</div>
      <hr class="remove_margin">
				<div class="panel-body remove_paddingRight remove_paddingLeft" style="height: 420px;">
					<div class="row">
					<div class="col-md-12">
					<b>Campaign:</b> Don't Stop Moving
        Nov. 11, 2016 - Dec. 11, 2016
					</div>
					</div>
        <div class="row">
          <rd-widget>
            <rd-widget-body classes="medium no-padding">
								<div class="table-responsive Ad_CmpRight">
									<table class="table table-striped">
                  <tbody>
                  <thead>
                  <tr>
                    <td>Placement</td>
                    <td>View</td>
                  </tr>
                  </thead>

                  <tr ng-repeat="row in $ctrl.tblVideoCampaignPlacement">
                    <td>{{ row.placement }}</td>
                    <td>{{ row.view }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </rd-widget-body>
          </rd-widget>
        </div>
      </div>
    </div>

    <div class="btn_containerCtV">
      <a ui-sref="campaign.report">
        <div class="btn_iconCtV"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        <div class="btn_wordCtV">
          <label>Click to View </label>

          <h3 class="btn_title">Campaign Briefing Report</h3>
        </div>
      </a>
    </div>

  </div>

</div>

