<div class="row">
  <div class="col-lg-12 information">
    <label><i class="fa fa-info" aria-hidden="true"></i>&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Maecenas nec nunc id nisi elementum bibendum sit amet vitae elit.</label>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-striped tbl_campaignList">
            <tbody>
            <thead>
            <tr>
              <td>Start Date</td>
              <td>Campaign ID</td>
              <td>Campaign Name</td>
              <td>Media</td>
              <td>Campaign Goal</td>
            </tr>
            </thead>
            <tr class="clickable" ng-repeat="campaign in $ctrl.campaignList track by $index" ui-sref="campaign.performance">
              <td ng-bind="campaign.startDate"></td>
              <td ng-bind="campaign.campaignId"></td>
              <td ng-bind="campaign.name"></td>
              <td ng-bind="campaign.media"></td>
              <td ng-bind="campaign.goal"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>