/*CUSTOM CSS STYLES - MOSTLY OVERWRITED FROM MAIN.MIN.CSS*/
/*Reginald Miranda*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body, html{
	height: 100% !important;
	font-family: 'Roboto', sans-serif;
	background-color: #FAFAFA !important;
}

/*HEADER STYLES*/

.mother_con, .app{
	height: 100% !important;
}

.row.header{
	height: 100% !important;
	background-color:#E0E0E0;
	margin-bottom: 0px !important;
}

.row.header .meta .page{
	color:#F6F6F6 !important;
	padding-top: 0px !important;
	margin-top:-10px;
}

.row.header .user>.item{
	height: 0px !important;
}

.row.header .user>.item img{
	width: 25px;
    height: 25px;
    margin-top: 10px;
}

.header_brdcrumbs{
	height: 35px;
	background-color:#0D47A1;
	margin-bottom: 0px !important;
	color:#f6f6f6;
}

.header_brdcrumbs label{
	line-height: 35px;
}

.header_brdcrumbs>div>a>i{
	color:#f6f6f6;
	cursor: pointer;
}

#hdr_uname{
	font-weight: 500;
	font-size: 15px;
}

.dropdown>.fa-user-circle-o, .fa-caret-down{
	font-size: 22px;
	color: #FF5722 ;
}
.dropdown-toggle>.fa-caret-down{
	font-size: 17px;
}

.Logo_Col{
	padding: 10px !important;
	background-color: #f6f6f6;
}

.page>.img-responsive{
	margin:auto;
	margin-top: 3px !important;  
}

.view_user{
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-top: 18px;
}


#sidebar-wrapper{
	background-color: #1976D2;
	left: -110px !important;
}

#page-wrapper{
	padding-left: 0px !important;
}

#page-wrapper.open #sidebar-wrapper{
	left:150px !important;
}

@media only screen and (min-width: 561px){
	#page-wrapper.open {
		padding-left: 250px !important;
	}
}

.sidebar-title>span>label>.fa-bars{
	margin-right: 30px !important;
	font-size: 16px !important;
	cursor: pointer;
}	

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a{
	background-color: #1976D2;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span{
	border-left: 3px solid #1976D2;	
}


ul.sidebar .sidebar-title{
	color:#F6F6F6 !important;
}

ul.sidebar .sidebar-list a{
	color:#F6F6F6 !important;	
}

ul.sidebar .sidebar-list a:hover{
	background-color: #0D47A1 !important;
    border-left: 3px solid #4285F4;
}

ul.sidebar .sidebar-main{
	height:67px !important;
}

.dropdown-menu{
	border-radius: 0px !important;
-webkit-box-shadow: 0px 0px 52px -14px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 0px 52px -14px rgba(0,0,0,0.62);
box-shadow: 0px 0px 52px -14px rgba(0,0,0,0.62);

}

.dropdown-menu{
	color:#01579B !important;
}

.dropdown-menu > span > li{
	text-indent: 5px;
}

.dropdown-menu > span > li:hover{
	background-color: #EEEEEE;
}

.dropdown-header{
	font-size: 13px !important;
	font-weight: 500 !important;
	color:#FF9800;
}

#DropdownTrans{
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

.MD_view {
    width: 273px;
    height: 30px;
    margin: auto;
    font-size: 13px;
    line-height: 17px;
}
.marketing_view {
    width: 118px;
    height: 100%;
    float: left;
    padding: 5px;
    border-radius: 25px;
    background: #f6f6f6;
    color:#FF5722;
  	border: 1px solid #FF5722;
  	text-indent:3px;
}
.DS_view {
    margin-left: 38%;
    height: 100%;
    background: #f6f6f6;
    padding: 5px;
    padding-left: 25px !important;
    -webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	color:#9E9E9E;
  	border: 1px solid #9E9E9E;
  	text-indent: 5px;
}


@media (max-width: 414px){
	.MD_view{
		width: 200px;
		font-size: 10px;
	}
	.marketing_view{
		width: 95px;
		text-indent: 3px;
	}
	.DS_view{
		text-indent: -1px;
	}
	.page>img{
		margin: auto !important;
		margin-bottom: 7px !important;
	}
	.view_user{
		margin-top: 13px;
		padding-bottom: 10px;
	}
}

@media (max-width: 320px){
	#hdr_uname{
		font-size: 12px;
	}
	.MD_view{
		width: 165px;
		font-size: 8px;
	}
	.marketing_view{
		width: 80px;
		text-indent: 3px;
	}
	.DS_view{
		text-indent: -1px;
	}
}

@media (max-width: 360px){
	#hdr_uname{
		font-size: 13px;
	}
	.img-circle{
		margin-right: 0px !important;
		margin-left: 1px !important;
	}
}

thead{
	color:#FF9800 !important;
}

/*BUTTON*/
.btn{
	border-radius: 0px !important;
	padding: 0px !important;
}

.loginButton {
  color: #ffffff;
  font-size: 15px;
  background: #9E9E9E;
  padding: 0px 15px 0px 15px !important;
  text-decoration: none;
  border: 1px solid transparent;
}

.loginButton:hover {
  background: #bdbdbd;
  text-decoration: none;
  color:#f6f6f6;
  border: 1px solid transparent;
}

/*.btnGrp {
	border-radius: 25px !important;
  font-size: 12px;
  background: #f6f6f6;
  padding: 7px 7px 7px 7px !important;
  text-decoration: none;
  color:#FF5722;
  border: 1px solid #FF5722;
  position: relative;
    z-index: 9999;
    pointer-events: none;
}

.btnGrp:hover {
  background: #f6f6f6;
  text-decoration: none;
  color:#FF5722;
  border: 1px solid #FF5722;
}

.btnGrp.active {
  background: #f6f6f6;
  text-decoration: none;
  color:#FF5722;
  border: 1px solid #FF5722;
}

.btnGrp2 {
	border-radius: 25px !important;
  font-size: 12px;
  background: #EEEEEE;
  padding: 7px 7px 7px 30px !important;
  text-decoration: none;
  color:#9E9E9E;
  border: 1px solid #9E9E9E;
  right:25px;
  pointer-events: none;
}
*/
.primaryBtn {
  background: #3498db;
  color: #f6f6f6;
  font-size: 18px;
  background: #FF9800;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  border: 0px !important;
  width:100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
text-align: left;
}

.primaryBtn:hover {
	color:#f6f6f6;
  background: #EF6C00;
  text-decoration: none;
}

.primaryBtn>.fa-download, .fa-envelope{
	font-size: 20px;
}

.primaryBtn2 {
  background: #3498db;
  color: #f6f6f6;
  font-size: 18px;
  background: #FF9800;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  border: 0px !important;
  width:220px;
  height: 40px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
text-align: left;
}

.primaryBtn2:hover {
	color:#f6f6f6;
  background: #EF6C00;
  text-decoration: none;
}

.primaryBtn3 {
  background: #3498db;
  color: #f6f6f6;
  font-size: 18px;
  background: #FF9800;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  border: 0px !important;
  width:250px;
  height: 40px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
text-align: left;
}

.primaryBtn3:hover {
	color:#f6f6f6;
  background: #EF6C00;
  text-decoration: none;
}

.CP_Btn {
  background: #3498db;
  color: #f6f6f6;
  font-size: 18px;
  background: #FF9800;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  border: 0px !important;
  width:170px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
text-align: left;
display: inline-flex;
font-weight: 500;
}

.CP_Btn:hover {
	color:#f6f6f6;
  background: #EF6C00;
  text-decoration: none;
}

.divIconBtns{
	max-width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.divTxtBtns{
	display: inline-block;
    vertical-align: middle;
}


.dboard_hdr_uname{
	height: 100%;
	vertical-align: middle;
	/*line-height: 50px;*/
	padding-right: 10px !important;

}



.information{
	color: #757575;
	font-size: 12px;
	font-weight: 0;
	margin-top: 3px;
}

@media (max-width: 414px){
	.information{
		margin-top: 10px;
	}
}

.fa-user-circle-o{
	color:#F6F6F6;
}




.widget .widget-body.medium{
	height: 100% !important;
}

.tbl_campaignList td:nth-child(3){
	color: #FF9800 !important;
}







.loginfields {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #f6f6f6;
    width: 100%;
    font-weight: 300;
    font-size:12px;
}



/*REMOVE PADDING or MARGINS*/
.remove_marginBottom{
	margin-bottom: 0px !important;
}
.remove_marginLeft{
	margin-left: 0px !important;
}
.remove_marginRight{
	margin-right: 0px !important;
}
.remove_marginTop{
	margin-top: 0px !important
}
.remove_margin{
	margin: 0px !important;
}

.remove_paddingLeft{
	padding-left: 0px !important;
}
.remove_paddingRight{
	padding-right: 0px !important;
}
.remove_paddingBottom{
	padding-bottom: 0px !important;
}
.remove_paddingTop{
	padding-top: 0px !important;
}
.remove_padding{
	padding: 0px !important;
}


/*Table CSS*/
thead{
	font-weight: 500;
}



/*Campaign Performance Sections*/
.FilterSection{
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
	color:#757575;
}

.filter_heading{
	font-weight: 500;
	font-size: 18px;
	padding: 10px;
	height:60px;
	color:#212121;
}

.filter_heading>label{
	line-height: 35px;
}

#subTitle_section{
	color:#9E9E9E;
	font-weight: 700;
}

.filter_btn{
	/*color: #9E9E9E;
	font-size: 12px;
	padding: 4px 12px 4px 12px;
	border: solid #bdbdbd 1px;
	text-decoration: none;
	background-color: transparent !important;
	width:170px;
	text-align: left;
	margin-bottom: 5px;*/

	width: 100%;
    text-align: left;
    border: solid #bdbdbd 1px;
    background-color: transparent;
    margin-bottom: 5px;
}

.filter_btn>.caret{
	float: right;
	margin-top: 8px;
}

.btn_containerCP { 
    width:175px;
    height: 70px;
    background-color: #FF9800;
    color:#f6f6f6 !important;
      -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
	padding: 8px;
	margin-bottom: 12px;
}

.btn_containerCP a{
	text-decoration: none;
	color:#ffffff !important;
}

.btn_containerCP label{
	margin-bottom: 0px !important;
}

.btn_containerCP:hover{
	background-color: #EF6C00;
	cursor: pointer;
}

.btn_containerCP label,h3:hover{
	cursor: pointer;
}

.btn_Triggers {
  color: #ffffff;
  font-size: 15px;
  background: #0D47A1;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
border:0px !important;
}

.btn_Triggers:hover {
  background: #1565C0;
  text-decoration: none;
}

.btn_TriggerDflt {
  font-family: Arial;
  color: #BDBDBD;
  font-size: 15px;
  background: #f6f6f6;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
border:0px !important;
}

.btn_TriggerDflt:hover {
	color:#f6f6f6;
  background: #0D47A1;
  text-decoration: none;
}

.btnGrp_Trigger{
	display: flex !important;
}

.btn_containerCtV { 
    width:100%;
    background-color: #FF9800;
    color:#f6f6f6 !important;
      -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
	padding: 8px;
	margin-bottom: 12px;
	height: 80px;
	padding-top: 17px;
	margin-top: 15px;
}

.btn_containerCtV a{
	text-decoration: none;
	color:#ffffff !important;
}

.btn_containerCtV label{
	margin-bottom: 0px !important;
}

.btn_containerCtV:hover{
	background-color: #EF6C00;
	cursor: pointer;
}

.btn_containerCtV label:hover{
	background-color: #EF6C00;
	cursor: pointer;
}

.btn_iconCtV {
    float: right;
    margin-top:10px;
}

.btn_iconCtV img {
    display: block
}
.btn_iconCtV i{
	font-size:28px;
	margin-left: 5px;
}

.btn_wordCtV {
    margin-right: 45px;
}

/*Briefing Report*/
.btn_container { 
    width:100%;
    background-color: #FF9800;
    color:#f6f6f6 !important;
      -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.52);
	padding: 8px;
	margin-bottom: 12px;
}

.btn_container a{
	text-decoration: none;
	color:#ffffff !important;
}

.btn_container label{
	margin-bottom: 0px !important;
}

.btn_container:hover{
	background-color: #EF6C00;
	cursor: pointer;
}

.btn_container label:hover{
	background-color: #EF6C00;
	cursor: pointer;
}

.btn_icon {
    float: left;
    margin-top:5px;
}
.btn_icon img {
    display: block
}
.btn_icon i{
	font-size:24px;
	margin-left: 5px;
}


.btn_word {
    margin-left: 45px;
}

.btn_title {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.Tblmarketing_brief{
	color:#757575;
}

.Tblmarketing_brief td:nth-child(1){
	font-weight: 700;
}

.Tblmarketing_brief tr:nth-child(11){
	color: #FF9800 !important;
}
.Tblmarketing_brief tr:nth-child(12){
	color: #FF9800 !important;
}
.Tblmarketing_brief tr:nth-child(13){
	color: #FF9800 !important;
}

.Ad_CmpRight{
	height: 350px;
	max-height: 350px;
	overflow:auto;
	overflow-x: hidden;
}

@media (max-width: 414px){
	.briefing_reportTbl{
		margin-top: 10px;
	}
}

.CP_TblMid{
	height:200px;
	max-height: 200px;
	overflow: auto;
}

.widget .widget-body table thead{
	background: transparent !important;
}

.widget{
	border:0px !important;
}

.table>tbody>tr>td{
	border:0px !important;
}

.table>thead>tr>td{
	border:0px !important;
}

/*Model Control Panel*/
.FilterSection .tab-content{
	height: 650px;
}

.Trigger_Selections label{
	font-weight: 500;
}

.trigger_info{
	font-size: 12px;
	font-weight: 500;
}

.btnGrp_Trigger>.btn{
	padding: 10px 25px 10px 25px !important;
}

.save_model_btn{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 30px;
}

/*Model Control Panel Nav Tabs*/
.nav-tabs{
	margin-bottom: 25px !important;
}

.nav-tabs>li{
	margin-bottom: 0px !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border-radius: 0px !important;
	background-color: #E0E0E0 !important;
	font-weight: 500;
	color: #757575 !important;
}

.nav-tabs>li>a:hover{
	color: #757575 !important;	
	background-color: #E0E0E0 !important;
}

.nav-tabs>li>a{
	font-weight: 500;
	color: #9E9E9E !important;
	margin-right: 0px !important;
	border:0px !important;
	border-radius: 0px !important;
	padding: 25px !important;
}

@media (max-width: 414px){
	.nav-tabs>li{
		width: 50%;
		text-align: Left;
	}
}

/*Model Control Panel TG*/
.filter_threshold{
	margin-bottom: 15px;
	margin-left: 10px;
}

.filter_threshold>label {
	font-weight: 500 !important;
}