<style type="text/css">
.outer-wrapper {
background-image:url('../static/img/prospecttargetoptimizer_bg.png');
background-repeat:no-repeat;
background-position:center; 
display: table;
width: 100%;
height: 100%;
}

.inner-wrapper {
  display:table-cell;
  vertical-align:middle;
  padding:15px;
}
.login-btn {
  position:fixed; top:15px; right:15px;
}

.loginbox{
  background-color: #FFFFFF;
  padding: 35px;
  height: 350px;
}

#username-label {
    position: relative;
    width:100%;
}

#username-label .fa-user {
    color: #666;
    top: 2px;
    left: 5px;
    position: absolute;
}

#username {
    padding-left: 20px;
}

#pword-label {
    position: relative;
    width:100%;
}

#pword-label .fa-lock {
    color: #666;
    top: 2px;
    left: 5px;
    position: absolute;
}

#pword {
    padding-left: 20px;
}

#RememberMe{
  font-weight: 300;
  font-size: 12px;
}

#LPLogo{
  margin-bottom: 40px;
}

.loginfields{
  text-indent: 20px;
}
</style>

<div id="loginform" class="outer-wrapper">

  <div class="inner-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
        <div class="loginbox">
          <img src="../static/img/launchpad_logo.png" class="img-responsive" style="margin:auto !important;"><br/>
          <form role="form">
          <div class="form-group">
          <label id="username-label">
            <i class="fa fa-user"></i>
            <input type="email" class="loginfields" id="exampleInputEmail1" placeholder="Enter email" ng-model="$ctrl.user.email">
              <!--<input type="text" class="loginfields" id="username" placeholder="Username" />-->
          </label>

          </div>
          <div class="form-group">
          <label id="pword-label">
            <input type="password" class="loginfields" id="exampleInputPassword1" placeholder="Password" ng-model="$ctrl.user.password">
              <i class="fa fa-lock"></i>
              <!-- <input type="password" class="loginfields" id="pword" placeholder="Password" /> -->
          </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="$ctrl.rememberMe"> Remember me
            </label>
          </div>
          <button type="submit" class="loginButton btn pull-right" ng-click="$ctrl.login()">Login</button>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
