<!-- Main Content -->

<div class="row">
  <div class="col-lg-12 information">
    <label><i class="fa fa-info" aria-hidden="true"></i>&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Maecenas nec nunc id nisi elementum bibendum sit amet vitae elit.</label>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="FilterSection">
      <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
          <uib-tab index="1" heading="Development Triggers">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-8">
                  <h5>Trigger Based on (please select one option)</h5>
                  <!-- <div style="margin-bottom: 10px;">
                      <div class="btn-group btnGrp_Trigger" role="group" aria-label="...">
                        <button type="button" class="btn btn_Triggers">Day of the Campaigns</button>
                        <button type="button" class="btn btn_TriggerDflt">Cumulative Days</button>
                      </div>
                  </div> -->
                  <label class="trigger_info"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; Lorem ipsum dolor sit
                    amet, consectetur adipiscing
                    elit. Maecenas nec nunc id nisi elementum bibendum sit amet vitae elit.</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12"><label>Settings:</label></div>
                <div class="col-md-3">
                  <div class=" Trigger_Selections">
                    <label>Start date of Campaign</label><br>

                    <div>
                      <div class="dropdown" uib-dropdown dropdown-append-to-body>
                        <button id="btn-append-to-body" class="filter_btn" type="button" uib-dropdown-toggle>
                          Day
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <span ng-repeat="row in $ctrl.daysList">
                        <li role="menuitem" ng-repeat="val in row"><a href="#">{{ val }} day of the campaign</a></li>
                        </span>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="Trigger_Selections">
                    <label>End date of Campaign</label><br>

                    <div>
                      <div class="dropdown" uib-dropdown dropdown-append-to-body>
                        <button id="btn-append-to-body" class="filter_btn" type="button" uib-dropdown-toggle>
                          Day
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <span ng-repeat="row in $ctrl.daysList">
                        <li role="menuitem" ng-repeat="val in row"><a href="#">{{ val }}</a></li>
                        </span>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="save_model_btn">
              <button class=" primaryBtn2" style="margin-bottom: 10px;"><i class="fa fa-download"
                                                                           aria-hidden="true"></i>&nbsp;Save Model
                Settings
              </button>
            </div>

          </uib-tab>

          <uib-tab index="2" heading="Threshold Generator">
            <div class="row">
              <div class="col-md-2">
                <label>Set Minimum Threshold</label>
              </div>
              <div class="col-md-4 filter_threshold">
                <div class="dropdown" uib-dropdown dropdown-append-to-body>
                  <button id="btn-append-to-body" class="filter_btn" type="button" uib-dropdown-toggle>
                    Day
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <span ng-repeat="row in $ctrl.minimumThreshold">
                    <li role="menuitem" ng-repeat="val in row"><a href="#"> > {{ val }} %</a></li>
                    </span>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 remove_paddingLeft remove_paddingRight">

                <div name="table" class="row">
                  <rd-widget>
                    <rd-widget-body classes="medium no-padding">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <tbody>
                          <thead>
                          <tr>
                            <td>ID</td>
                            <td>Creative 1 Morning</td>
                            <td>Creative 1 Evening</td>
                            <td>Creative 2 Morning</td>
                            <td>Creative 2 Evening</td>
                            <td>Top Score Per Audience</td>
                          </tr>
                          </thead>

                          <tr ng-repeat="row in $ctrl.thresholdList">
                            <td>{{ row.id }}</td>
                            <td>{{ row.creative_1_morning }}</td>
                            <td>{{ row.creative_1_evening }}</td>
                            <td>{{ row.creative_2_morning }}</td>
                            <td>{{ row.creative_2_evening }}</td>
                            <td>{{ row.top_score }}</td>
                          </tr>

                          <tr ng-repeat="row in $ctrl.thresholdList">
                            <td>{{ row.id }}</td>
                            <td>{{ row.creative_1_morning }}</td>
                            <td>{{ row.creative_1_evening }}</td>
                            <td>{{ row.creative_2_morning }}</td>
                            <td>{{ row.creative_2_evening }}</td>
                            <td>{{ row.top_score }}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </rd-widget-body>
                  </rd-widget>
                </div>
              </div>
            </div>

            <div class="save_model_btn">
              <button class=" primaryBtn2" style="margin-bottom: 10px;"><i class="fa fa-download"
                                                                           aria-hidden="true"></i>&nbsp;Save Model
                Settings
              </button>
            </div>

          </uib-tab>

          <uib-tab index="3" heading="Audience">
            <div class="row">
              <div class="col-md-12 remove_paddingRight remove_paddingLeft">
                <div name="table" class="row">
                  <rd-widget>
                    <rd-widget-body classes="medium no-padding">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <tbody>
                          <thead>
                          <tr>
                            <td>ID</td>
                            <td>Age</td>
                            <td>State</td>
                            <td>Affinity</td>
                            <td>Search Keywords</td>
                            <td># of Contacts</td>
                          </tr>
                          </thead>

                          <tr ng-repeat="row in $ctrl.audienceList">
                            <td>{{ row.id }}</td>
                            <td>{{ row.age }}</td>
                            <td>{{ row.state }}</td>
                            <td>{{ row.affinity }}</td>
                            <td>{{ row.search_keywords }}</td>
                            <td>{{ row.no_of_contacts }}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </rd-widget-body>
                  </rd-widget>
                </div>
              </div>
            </div>

            <div class="save_model_btn">
              <button class=" primaryBtn2" style="margin-bottom: 10px;"><i class="fa fa-download"
                                                                           aria-hidden="true"></i>&nbsp;Save Model
                Settings
              </button>
            </div>

          </uib-tab>

          <uib-tab index="4" heading="Recommendation Engine">
            More Tab Content

            <div class="save_model_btn">
              <button class=" primaryBtn3" style="margin-bottom: 10px;"><i class="fa fa-sign-out"
                                                                           aria-hidden="true"></i>&nbsp;Generate Model
                Settings
              </button>
            </div>

          </uib-tab>
        </uib-tabset>
      </form>

    </div>
  </div>
</div>
