<!-- Main Content -->

<div class="row">
  <div class="col-lg-12 information">
    <label><i class="fa fa-info" aria-hidden="true"></i>&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Maecenas nec nunc id nisi elementum bibendum sit amet vitae elit.</label>
  </div>
</div>

<div class="row">
  <div class="col-md-10 briefing_reportTbl">
    <div class="FilterSection">
      <div class="filter_heading remove_paddingBottom">Marketing brief</div>
      <hr class="remove_margin">
      <div class="">
        <div name="table" class="row">
          <rd-widget>
            <rd-widget-body classes="medium no-padding">
              <div class="table-responsive">
                <table class=" table table-striped">
                  <tbody class="Tblmarketing_brief" ng-repeat="row in $ctrl.tblMarketingBrief">
                  <tr>
                    <td>Owner</td>
                    <td>{{ row.owner}}</td>
                  </tr>
                  <tr>
                    <td>Start Date</td>
                    <td>{{ row.start_date }}</td>
                  </tr>
                  <tr>
                    <td>End Date</td>
                    <td>{{ row.end_date }}</td>
                  </tr>
                  <tr>
                    <td>Media Type</td>
                    <td>{{ row.media_type }}</td>
                  </tr>
                  <tr>
                    <td># of Creatives</td>
                    <td>{{ row.no_of_creative}}</td>
                  </tr>
                  <tr>
                    <td>Creative 1</td>
                    <td>{{ row.creative_1 }}</td>
                  </tr>
                  <tr>
                    <td>Creative 2</td>
                    <td>{{ row.creative_2 }}</td>
                  </tr>
                  <tr>
                    <td>Budget</td>
                    <td>{{ row.budget }}</td>
                  </tr>
                  <tr>
                    <td>Size of Targeting Audience</td>
                    <td>{{ row.target_audience_size }}</td>
                  </tr>
                  <tr>
                    <td>CPM (Cost per Thousands)</td>
                    <td>{{ row.cpm }}</td>
                  </tr>
                  <tr>
                    <td>Expected View Rate</td>
                    <td>{{ row.expected_view_rate }}</td>
                  </tr>
                  <tr>
                    <td>Expected Click Through Rate</td>
                    <td>{{ row.expected_view_rate }}</td>
                  </tr>
                  <tr>
                    <td>Expected ROI</td>
                    <td>{{ row.expected_roi }}</td>
                  </tr>
                  <tr>
                    <td>Targeting Data Set Name</td>
                    <td>{{ row.targeting_dataset_name}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </rd-widget-body>
          </rd-widget>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="btn_container">
      <a href="http://www.google.com/">
        <div class="btn_icon"><i class="fa fa-download" aria-hidden="true"></i></div>
        <div class="btn_word">
          <label>Download </label>

          <h3 class="btn_title">PDF</h3>
        </div>
      </a>
    </div>

    <div class="btn_container">
      <a href="http://www.google.com/">
        <div class="btn_icon"><i class="fa fa-download" aria-hidden="true"></i></div>
        <div class="btn_word">
          <label>Download </label>

          <h3 class="btn_title">GoogleDoc</h3>
        </div>
      </a>
    </div>

    <div class="btn_container">
      <a href="http://www.google.com/">
        <div class="btn_icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
        <div class="btn_word">
          <label>Email </label>

          <h3 class="btn_title">Attachment</h3>
        </div>
      </a>
    </div>
    <hr/>
    <div class="btn_containerCtV" style="padding-top: 6px;">
      <a ui-sref="campaign.modelPanel">
        <div class="btn_iconCtV" style="margin-top: 22px;"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        <div class="btn_wordCtV">
          <label>Click to View </label>

          <h3 class="btn_title">Model Control Panel</h3>
        </div>
      </a>
    </div>

  </div>
</div>
