<!-- Sidebar -->
<div id="page-wrapper" ng-class="{'open': $ctrl.toggle}" ng-cloak>
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        
      </li>
      <li class="sidebar-title">
        <span><label style="display: initial;">NAVIGATION</label>
        <label class="pull-right" ng-click="$ctrl.toggleSidebar()">
              <!-- <span class="menu-icon glyphicon glyphicon-transfer"></span> -->
              <i class="menu-icon fa fa-bars" aria-hidden="true"></i>
            </label>
        </span>
      </li>
      <li class="sidebar-list">
        <a href="#">Campaign List <span class="menu-icon fa fa-list-alt"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#">User Profile <span class="menu-icon fa fa-user-circle"></span></a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="https://github.com/rdash/rdash-angular" target="_blank">
          About
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
          Support
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
          Logout
        </a>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->
      <div class="row header">
        <div class="col-md-3 Logo_Col remove_marginBottom remove_paddingLeft remove_paddingRight">
            <div class="meta">
                <div class="page">
                  <img src="../static/img/launchpad_logo.png" class="img-responsive">
                </div>
              </div>
        </div>

        <div class="col-md-9 remove_marginBottom remove_marginLeft remove_paddingRight remove_paddingLeft">
            <div class="row header view_user">
                <div class="col-xs-5 remove_paddingLeft remove_paddingRight remove_marginBottom">
                    <div class="MD_view">
                      <div class="marketing_view">
                        <label>Marketing View</label>
                      </div>
                      <div class="DS_view">
                        <label>Digital Science View</label>
                      </div>
                    </div>
                </div>

                <div class="col-xs-7 dboard_hdr_uname remove_marginBottom remove_paddingLeft">
                    <div class="item dropdown pull-right" uib-dropdown>
                        <img class='img-circle' src='https://placeholdit.imgix.net/~text?txtsize=5&txt=35%C3%9735&w=35&h=35' style="margin-right: 5px;" />
                        <label id="hdr_uname">Hello, Reginald!</label>
                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                          Reginald Miranda
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                          <a href="#">
                            Profile
                          </a>
                        </li>
                        <li class="link">
                          <a href="#">
                            Menu Item
                          </a>
                        </li>
                        <li class="link">
                          <a href="#">
                            Menu Item
                          </a>
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                          <a href="#">
                            Logout
                          </a>
                        </li>
                      </ul>

                    </div>
                </div>
            </div>
        </div>

      </div>

      <div class="row header_brdcrumbs">
        <div class="col-lg-12">
            <a ng-click="$ctrl.toggleSidebar()">
              <i class="menu-icon fa fa-bars" aria-hidden="true"></i>
            </a>
            <label>{{ $ctrl.getHeaderLabel() }}</label>
        </div>
      </div>

      <!-- End Header Bar -->

      <!-- Main Content -->
      <div ui-view></div>


    </div>
    <!-- End Page Content -->
  </div>
  <!-- End Content Wrapper -->
</div>
